$hack-blue: rgb(31, 35, 171);
// guesstimate for now
$mobile-break: 850px;
$large-break: 1100px;
$font-family: "Lato", sans-serif;
$background-color: #fff;
$info-grey: #424242;
//$button-colour: #b7b7b7;
$button-colour: $hack-blue;
$info-box-border-colour: #e5e5e5;
$info-box-heading-bg: #fafafa;


body {
  font-family: $font-family;
  background-color: $background-color;
  font-size: 14px;
  color: $info-grey;
  line-height: 1.8;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
h1 {
    font-weight: 100;
}

html,body,.container-fluid {
    height: 100%;
}

img#logo {
}

.questionpanel {
    background: linear-gradient(
                   rgba(0, 110, 160, 0.80),
                   rgba(0, 110, 160, 0.80)
               ),
               url('../img/bg.png');
    background-size: cover;           
    background-position: bottom; 
    color: white;
    height: 100%;
    padding: 15px;
    h1 {
        text-align: center;
    }
    input[type='text'] {
        background: transparent;
        border: none;
        border-bottom: 2px solid white;
        margin-bottom: 40px;
        font-size: 18pt;
        text-align: center;
        width: 100%;
        height: 40px;
    }
    input:active {
        border: none !important;
    }
    button {
        border: 2px solid white;
        background-color: transparent;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    pre {
        display: none;
    }
    #todo-container {
        margin: 0;
        padding: 0;
        .todo {
            margin: 10px;
            padding: 5px;
            border: 1px solid white;
            background: rgba(255,255,255,0.8);
            color: black;
            font-weight: 800;
            font-size: 14pt;
            &.checked {
                background-color: #00B74A !important;
            }
            &.late {
                background-color: #fe8600;
            }
            label {
                
            }
            input[type='checkbox'] {
                -ms-transform: scale(3); /* IE */
                -moz-transform: scale(3); /* FF */
                -webkit-transform: scale(3); /* Safari and Chrome */
                -o-transform: scale(3); /* Opera */
                margin: 20px;
            }
        }
    }

    @media screen 
      and (min-device-width: 1200px) { 
          .question {
              margin-left: auto;
              margin-right: auto;
              width: 500px;
          }
          #todo-container {
              margin-left: auto;
              margin-right: auto;
              width: 700px;          
          }
    }
}


